@import "tailwindcss";

:root {
  --background: #FFFFFF ;  /* FCEFE9 F7F7FC*/
  --primaryColor: #007BFF; /* Titles/Links 007BFF */
  --navy: #343A40; /* Text */
  --coolGray: #CED4DA; /* Disable Text */
  --coralRed: #FF6B6B; /* Errors */
  --linearBlack: linear-gradient(111deg, #000000, #007BFF); /* Black to Gray */
}

@layer base {
  /* Helper classes */  
  h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
  }
  h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
  }
  h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }
  h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input{
    outline: none;
  }
  input:focus{
    outline: none;
  }
  a:hover, button:hover{
    cursor: pointer;
  }
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;  
    padding-right: 1rem;

    /* Breakpoints */
    @media (min-width: 40rem) { /* 640px */
      max-width: 40rem;
    }

    @media (min-width: 48rem) { /* 768px */
      max-width: 48rem;
    }

    @media (min-width: 64rem) { /* 1024px */
      max-width: 64rem;
    }

    @media (min-width: 80rem) { /* 1280px */
      max-width: 80rem;
    }

    @media (min-width: 96rem) { /* 1536px */
      max-width: 96rem;
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}
.NotFound {
  width: 100%;
  max-height: 80vh;
  background: url('/images/404.png') no-repeat center center;
  background-size: cover;
  background-clip: content-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}


